/*
Project Name: AirCnC
Author: Nikhil Bachani | https://www.linkedin.com/in/nikhilbachani/
Made @ OneMonth HTML

Color Reference:

rgb(245, 245, 245) = #f5f5f5 (White Smoke)
rgb(220, 224, 224) = #dce0e0 (Light Grey)
rgb(144, 149, 151) = #909597 (Grey)
rgb(102, 106, 108) = #666a6c (Dark Grey)
rgb(86, 90, 92)    = #565a5c (Charcoal)
rgb(255, 89, 95)   = #ff595f (Pink)
rgb(227, 25, 29)   = #e3191d (Red)

*/

/* General/Utility Styles */

* {
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

body {
	margin: 0;
	background: rgb(245, 245, 245);
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 0.875rem; /* 14px */
	color: rgb(86, 90, 92);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	font-weight: bold;
	color: rgb(255, 89, 95);
	text-decoration: none;
}

strong {
	font-weight: 600;
}

/* Button styles */

.button {
	background: rgb(255, 89, 95);
	color: white;
	text-decoration: none;
	display: block;
	padding: 0.75rem 5rem;
	border-bottom: 1px solid rgb(227, 25, 29);
	border-radius: 2px;
	width: 95%;
	margin: 0 auto;
}

/* Heading styles */

h1 {
	font-size: 1.375rem; /* 22px */
	color: #666a6c;
}

/* Header and .hero styles */

header {
	background: white;
}

header .logo {
	border-right: 1px solid #dce0e0;
}

.hero img {
	width: 100%;
}

/* .info styles */

.info {
	background: white;
	text-align: center;
	padding: 1.5625rem; /* 25px */
}

.info h1 {
	margin-bottom: .3125rem; /* 5px */
}

.info .profile {
	margin-bottom: 1.5rem; /* 24px */
}

.info .owner-details img {
	border-radius: 50%;
	margin-bottom: .375rem; /* 6px */
}

.info h2.relationship, .info h2.name {
	color: #909597;
	margin-bottom: .1875rem; /* 3px */
}

.info h2.name {
	font-weight: bold;
}

.info p.location {
	margin-bottom: 1.25rem; /* 20px */
}

.info .icon {
	float: left;
	width: 33.3%;
}

.info .icon img {
	height: 30px;
	margin-bottom: .1875rem; /* 3px */
}

.info .booking h2 {
	font-weight: 600;
	font-size: 1.375rem; /* 22px */
	margin-bottom: .8125rem; /* 13px */
}

.info h2.price .time {
	font-size: 1rem; /* 16px */
}

@media only screen and (min-width: 1060px) {

	.container {
		width: 1040px;
		margin: 0 auto;
	}

	.column {
		float: left;
	}

	.button {
		width: 275px;
		margin: auto;
	}

	.info h1 {
		margin-bottom: .6875rem; /* 11px */
	}

	.info h2 {
		margin-bottom: .1875rem; /* 3px */
	}

	.info .profile {
		width: 660px;
		border-right: 1px solid #dce0e0;
	}

	.info .booking {
		width: 380px;
	}

	.info .owner-details {
		width: 20%;
	}

	.info .pet-details {
		width: 80%;
		text-align: left;
	}

	.info .pet-details .icon {
		width: inherit;
		margin-right: 50px;
	}

	.info .pet-details .icon img {
		display: block;
		margin: .1875rem auto; /* 3px */
	}
}
